body{ 
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    background-image: linear-gradient(to top, #1e355e 0%, white 60%);
} 

nav{
    max-width: 70%;
    margin: auto;
    background-color: #15469b;
    font-size: 20px;
    margin-top: none;
}  

.logo{ 
    height: 7em;
    width: 15em;
    display: flexs; 
} 

.nombre{ 
    height: 5em;
    width: 50em;
    margin: 0em auto; 
    color: #1e355e; 
    justify-content: space-between;
    overflow: hidden;
    display: flex;
} 

.datos{ 
    width: 800px;
    height: 50px;
    margin: 3em auto;
    display: flex;
    /*border: 2px solid red;  */
    
} 

.input{ 
    width: 50%;
    height: 3.125rem;
    padding-left: 20px;
    border: 2px solid #1e355e;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover{
    border: 2px solid #212fb4;
}

