body{ 
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    background-image: linear-gradient(to top, #1e355e 0%, white 60%);
} 

nav{
    max-width: 70%;
    margin: auto;
    background-color: #15469b;
    font-size: 20px;
    margin-top: none;
}  

.logo{ 
    height: 5.5em;
    width: 15em;
    display: flexs;  
    /*border: 2px solid red;*/
    
} 

.nombre{ 
    height: 5.5em;
    width: 64em;
    margin: 0em 20em; 
    color: #1e355e;  
    text-align: center;    
    justify-content: space-between;
    overflow: hidden;
    display: flex; 
    /*border: 2px solid orange;*/
}  

.tituloP{
    height: 7em;
    width: 40em;  
}  

.contenedor-general{ 
    height: 80%; 
    width: 99%;
    /*border: 2px solid red; */
    margin: 1em auto;
} 

h2{
    color: #1e355e;
    text-align: center;
}

.datos{ 
    width: 800px;
    height: 50px;
    margin: 3em 27em;
    display: flex; 
    
} 

.input{ 
    width: 50%;
    height: 3.125rem;
    padding-left: 20px;
    border: 2px solid #1e355e;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover{
    border: 2px solid #212fb4;
} 

.btnBuscar{ 
    width: 15%;
    height:90%;
    letter-spacing: 1px; 
    border: 10px solid red;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    background-color: #1e355e;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}  

.btnSalir{ 
    width: 15%;
    height:90%;
    letter-spacing: 1px; 
    border: 10px solid red;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    background-color: #1e355e;
    cursor: pointer;
    border: none;
    border-radius: 10px;
} 

