*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #1e355e 0%, white 70%);
}

.Contenedor_datos_maestros{
    height:50em;
    width: 75em;
    margin: 3em auto;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    
    
}

.maestros-datos-contenedor{
    width: 70%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px solid #808080;
    padding-top: 0%;
    background-color: white;
    
}

.social_maestros{
    width: 100%;
    justify-content: center;
}
.cajas_de_texto_maestros{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #1e355e;
    padding: 10px;
}
.caja_texto{
    padding-left: 20px;
    border: #1e355e;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 0px;
    box-sizing: border-box;
    text-transform: uppercase;
}
.caja_texto:hover{
    border: 2px solid #1e355e;
}
.caja_texto,boton{
    width: 70%;
    height: 3.125rem;
    font-size: 1em;
    border-radius: 1px #1e355e;
}
.caja_texto_email{
    padding-left: 20px;
    border: #1e355e;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.caja_texto_email,boton{
    width: 70%;
    height: 3.125rem;
    font-size: 1em;
    border-radius: 1px #1e355e;
}
form{
    margin: 0 auto; /* Centramos el formulario */
    width: 500px;   /* Sin ancho no podemos centrar el formulario */
    background-color: #1e355e; /* Color blanco para el formulario */
    padding: 2px; /* separamos los bordes del form del resto de elementos */
    border-radius: 0px; /* Redondeamos los bordes del form */

}
.btn_guardar{
    margin-top: -1px; /* Damos un margen individual para el contenedor del botón */
    width: 25%;
    margin-right: 40%;
    background-color:#1e355e;
    border-radius: 5px;
    color: white;
    font-size: large;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}
.btn_cancelar {
    margin-top: -24px; /* Damos un margen individual para el contenedor del botón */
    width: 25%;
    margin-left: 40%;
    background-color:#1e355e;
    border-radius: 5px;
    color: white;
    font-size: large;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
}
