*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #1e355e 0%, white 70%);
}

.Contenedor_datos_maestros{
    height:39em;
    width: 70em;
    margin: 3em auto;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    
}

.maestros-datos-contenedor{
    width: 80%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px solid #808080;
    padding-top: 0%;
    background-color: white;
    
}

.social_maestros{
    width: 100%;
    justify-content: space-evenly;
}
.cajas_de_texto_maestros{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #1e355e;
    padding: 2px;
}
.caja_texto{
    padding-left: 20px;
    border: #1e355e;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.caja_texto:hover{
    border: 2px solid #1e355e;
}
.caja_texto,boton{
    width: 50%;
    height: 3.125rem;
    font-size: 1em;
    border-radius: 1px #1e355e;
}
.botones{
    position: relative;
    bottom: 4.5%;
    left: 39%;
    width: 80%;
    transform: translate(-10%,0);
    display: flex;
    gap: 30px;
}
.guardar_boton{
    width: 25%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    background-color: #1e355e;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.boton_cancelar{
    width: 25%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    background-color: #1e355e;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}